In [1]:
print("computer world")

computer world

In [2]:
x="cherry"
y="banana"
print(x,y)

cherry banana

In [1]:
print("Hello,World!")
#this is a comment

Hello,World!

In [2]:
import sys
print(sys.version)

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]

In [3]:
#python indentation
if 5 > 2 :
  print("Five is greater than two!")

Five is greater than two!

In [4]:
if 5 > 2 :
    print("Five is greater than two")

Five is greater than two

In [5]:
if 5 > 2:
 print("Five is greater than two!")
 if 5 > 2:
       print("Five is greater than two")

Five is greater than two!
Five is greater than two

In [6]:
if 5 > 2:
 print("Five is greater than two!")
 if 5 > 2:
       print("Five is greater than two")

Five is greater than two!
Five is greater than two

In [7]:
#print("Hello,World!")
print("cheer,mate!")

cheer,mate!

In [8]:
"""
this is a comment
written in
just more than one line
"""
print("Hello,World!")

Hello,World!

In [9]:
x=23
x="zam"
print(x)

zam

In [10]:
x=22
y="muz"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11]:
x="john"
print(x)
x='john'
print(x)

john
john

In [12]:
a=2
A="saf"
print(a)
print(A)

2
saf

In [13]:
myvar="John"
my_var="John"
_my_var="John"
myVar="John"
MYVAR="John"
myvar2="John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [14]:
x,y,z="apple","orange","pineapple"
print(x)
print(y)
print(z)

apple
orange
pineapple

In [15]:
x=y=z="apple"
print(x)
print(y)
print(z)

apple
apple
apple

In [16]:
fruites="banana","cherry","watermelon"
x,y,z=fruites
print(x,y,z)

banana cherry watermelon

In [17]:
a="shana"
print(a)

shana

In [18]:
a= """ I'm a very good
student ,I'm from
india"""
print(a)

 I'm a very good
student ,I'm from
india

In [19]:
a='''I'm a good student, I'm going to school'''
print(a)

I'm a good student, I'm going to school

In [20]:
#string are arrays
a="hello world"
print(a[1])

e

In [21]:
#looping through a string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [22]:
#string length
a = "Hello, World!"
print(len(a))

13

In [23]:
#checking string
txt = "The best things in life are free!"
print("free" in txt)

True

In [24]:
#if statement
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [25]:
#check if not
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [26]:
#if statement
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [27]:
#slicing
b = "Hello, World!"
print(b[2:5])

llo

In [28]:
#slice from the start
b = "Hello, World!"
print(b[:5])

Hello

In [29]:
#slice to the end
b = "Hello, World!"
print(b[2:])

llo, World!

In [30]:
#negative indexing
b = "Hello, World!"
print(b[-5:-2])

orl

In [31]:
#modify string
#upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [32]:
#lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [33]:
#remove whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [34]:
#replace string
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [35]:
#split string
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [36]:
#string cancatenation
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [37]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [38]:
#string format
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [39]:
#placeholder
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [40]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [41]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [43]:
#escape characters
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [44]:
#string methods
#capitalize()
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [45]:
txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

In [46]:
txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

In [47]:
#casefold()
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [48]:
#center()
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [49]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

In [50]:
#count()
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [51]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [52]:
#encode
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [53]:
#endswith
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [54]:
#expandtabs
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [55]:
#find
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [56]:
#format
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [57]:
#index
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [58]:
#isalnum
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [59]:
#isalpha
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [60]:
#isascii
txt = "Company123"

x = txt.isascii()

print(x)

True

In [61]:
#isdecimal
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [62]:
#isdigit
txt = "50800"

x = txt.isdigit()

print(x)

True

In [63]:
#isidentifier
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [64]:
#islower
txt = "hello world!"

x = txt.islower()

print(x)

True

In [65]:
#isnumeric
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [66]:
#isprintable
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [67]:
#isspace
txt = "   "

x = txt.isspace()

print(x)

True

In [68]:
#istitle
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [69]:
#issupper
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [70]:
#join
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [71]:
#!just
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [72]:
#lower
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [73]:
#lstrip
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [74]:
#maketrans
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [75]:
#partition
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [76]:
#replace
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [77]:
#rfind
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [78]:
#rindex
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [79]:
#rjust
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [80]:
#rpartition
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [81]:
#rsplit
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [82]:
#rstrip
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [83]:
#split
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [84]:
#splitlines
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [85]:
#startswith
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [86]:
#strip
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [87]:
#swapcase
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [88]:
#title
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [89]:
#transulate
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [90]:
#upper
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [91]:
#zfill
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [1]:
#boolean
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [3]:
#bool()
print(bool("Hello"))
print(bool(15))

True
True

In [4]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [5]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [6]:
def myFunction() :
  return True

print(myFunction())

True

In [7]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [8]:
x = 200
print(isinstance(x, int))

True

In [10]:
#operators
print(10+6)

16

In [12]:
#arithmetic
x=20
y=12
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

32
8
240
1.6666666666666667
8
4096000000000000
1

In [19]:
#assignment operators
x=5
x+=3
print(x)

8

In [20]:
x=3
x-=5
print(x)

-2

In [22]:
x=9
x*=10
print(x)

90

In [23]:
x=5
x/=2
print(x)

2.5

In [24]:
x=20
x%=2
print(x)

0

In [25]:
x=2
x//=20
print(x)

0

In [26]:
x=4
x**=8
print(x)

65536

In [27]:
x=8
x&=2
print(x)

0

In [28]:
x=2
x|=4
print(x)

6

In [29]:
x=5
x^=2
print(x)

7

In [30]:
x=10
x>>=5
print(x)

0

In [31]:
x=25
x<<=10
print(x)

25600

In [36]:
print(x:=6)

6

In [37]:
#comparison
x=2
y=5
print(x<y)

True

x=5
y=5
print(x==y)

In [38]:
x=25
y=12
print(x>y)

True

In [39]:
x=40
y=25
print(x!=y)

True

In [41]:
x=23
y=26
print(x>=y)

False

In [42]:
x=33
y=44
print(x<=y)

True

In [45]:
#logical operators
#AND
x = 5

print(x > 3 and x < 10) #both the statement is true

True

In [44]:
#OR
x=10
print(x<9 or x>5) #if any one is true

True

In [48]:
#NOT
x=23
print(not(x>22 and x<25))

False

In [49]:
#identity
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [50]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [51]:
#membership operator
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [54]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "banana" is in the list

True

In [60]:
#bitwise
print(6 & 3)
#Sets each bit to 1 if both bits are 1



"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'\nThe & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [59]:
#or
print(5|3)#Sets each bit to 1 if one of two bits is 1

7

In [61]:
#xor
print(6^3)
#Sets each bit to 1 if only one of two bits is 1

5

In [62]:
#not
print(~3)
#	Inverts all the bits

-4

In [63]:
#left shift
print(6<<3)
#Shift left by pushing zeros in from the right and let the leftmost bits fall off

48

In [64]:
#right shift
print(6>>3)
#Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

0

In [65]:
#precedence
print(3+5-7+2)

3

In [1]:
#list ordered,changable 
mylist=["apple","banana","cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [2]:
#allow duplicate
mylist=["apple","banana","cherry","apple","cherry"]
print(mylist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [3]:
#length
mylist=["apple","cherry","banana"]
print(len(mylist))

3

In [7]:
#can contain different dat types
list1=["abc",34,65,True,"male"]
print(list1)

['abc', 34, 65, True, 'male']

In [10]:
mylist=["apple","banana","cherry"]
print(type(mylist))

<class 'list'>

In [11]:
#list()constructor
thislist=list(("apple","banana"))
print(thislist)

['apple', 'banana']

In [12]:
#access
mylist=["apple","banana","cherry"]
print(mylist[1])

banana

In [13]:
mylist=["apple","banana","cherry"]
print(mylist[-1])

cherry

In [14]:
mylist=["apple","banana","cherry"]
print(mylist[2:3])

['cherry']

In [15]:
mylist=["apple","banana","cherry"]
print(mylist[:3])

['apple', 'banana', 'cherry']

In [16]:
#change item value
mylist=["apple","banana","cherry"]
mylist[1]="blackcurrent"
print(mylist)

['apple', 'blackcurrent', 'cherry']

In [17]:
mylist=["apple","banana","cherry"]
mylist[1:2]=["blackcurrent","watermelon"]
print(mylist)

['apple', 'blackcurrent', 'watermelon', 'cherry']

In [18]:
#insert
mylist=["apple","banana","cherry"]
mylist.insert(2,"watermelon")
print(mylist)

['apple', 'banana', 'watermelon', 'cherry']

In [19]:
#add
mylist=["apple","banana","cherry"]
mylist.append("orange")
print(mylist)

['apple', 'banana', 'cherry', 'orange']

In [20]:
#extend
mylist=["apple","banana","cherry"]
tropical=["mango","pineapple","papaya"]
mylist.extend(tropical)
print(mylist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [2]:
thislist=["apple","banana","cherry"]
thistuple=("kiwi","orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [3]:
#remove
thislist=["apple","banana","cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [4]:
#pop
thislist=["apple","banana","cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [5]:
thislist=["apple","banana","cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [6]:
#del
thislist=["apple","banana","cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [9]:
thislist=["apple","banana","cherry"]
del thislist

In [10]:
#clear
thislist=["apple","banana","cherry"]
thislist.clear()
print(thislist)

[]

In [11]:
#loop
thislist=["apple","banana","cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [12]:
thislist=["apple","banana","cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [16]:
thislist=["apple","banana","cherry"]
i = 0
while i > len(thislist):
    print(thislist[i])
    i= i + 1

In [17]:
#list comprehension
thislist=["apple","banana","cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [18]:
fruites=["apple","banana","cherry","kiwi","mango"]
newlist=[]
for x in fruites:
    if "a" in x:
        newlist.append(x)
        print(newlist)

['apple']
['apple', 'banana']
['apple', 'banana', 'mango']

In [20]:
fruites=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruites if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [21]:
#sort list
thislist=["apple","banana","cherry","kiwi","mango"]
thislist.sort()
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [22]:
#alphanumerically
thislist=[100,50,65,67,86]
thislist.sort()
print(thislist)

[50, 65, 67, 86, 100]

In [23]:
#sort descending
thislist=["apple","banana","cherry","kiwi","mango"]
thislist.sort(reverse=True)
print(thislist)

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [30]:
#customize sort
def myfunc(n):
    return abs(n-50)
thislist=[100,56,37,68]
thislist.sort(key=myfunc)
print(thislist)

[56, 37, 68, 100]

In [1]:
#caseinsensitive
thislist=["apple","banana","cherry","kiwi","mango"]
thislist.sort()
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [2]:
thislist=["apple","banana","cherry","kiwi","mango"]
thislist.sort(key=str.lower)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [3]:
#reverse order
thislist=["apple","banana","cherry","kiwi","mango"]
thislist.reverse()
print(thislist)

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [4]:
#copy list
thislist=["apple","banana","cherry","kiwi","mango"]
mylist=thislist.copy()
print(mylist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [5]:
#list() method
thislist=["apple","banana","cherry","kiwi","mango"]
mylist=list(thislist)
print(mylist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [6]:
#slice operator
thislist=["apple","banana","cherry","kiwi","mango"]
mylist=thislist[:]
print(mylist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [7]:
#join list
list1=["a","c","n"]
list2=[1,2,3]
list3=list1+list2
print(list3)

['a', 'c', 'n', 1, 2, 3]

In [10]:
list1=["a","c","n"]
list2=[1,2,3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'c', 'n', 1, 2, 3]

In [11]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [12]:
#tuples
thistuple=("apple","banana","cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [13]:
#allow duplicate
thistuple=("apple","banana","cherry","cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'cherry')

In [14]:
#length
thistuple=("apple","banana","cherry")
print(len(thistuple))

3

In [15]:
#create with one item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [17]:
#data types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [18]:
tuple1=("abc",34,True)
print(tuple1)

('abc', 34, True)

In [19]:
#tuple() constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [20]:
#access tuple items
thistuple=("apple","banana","cherry")
print(thistuple[1])

banana

In [22]:
thistuple=("apple","banana","cherry")
print(thistuple[1:2])

('banana',)

In [26]:
thistuple=("apple","banana","cherry")
print(thistuple[:2])

('apple', 'banana')

In [27]:
#check if
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [28]:
#change value
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [32]:
#add
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [31]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [34]:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [35]:
thistuple = ("apple", "banana", "cherry")
del thistuple

In [36]:
#unpack tuple
fruits=("apple","banana","cherry")
(green,yellow,red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [37]:
#asterist*
fruits=("apple","banana","cherry")
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry']

In [38]:
#loop
thistuple=("apple","banana","cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [39]:
#loop through the index
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [40]:
#while loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [41]:
#join two tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [43]:
#multiple tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [44]:
#set
thisset={"apple","banana","mango"}
print(thisset)

{'mango', 'banana', 'apple'}

In [45]:
#unordered
#unchangable
#don't allow duplicate
thisset={"apple","banana","cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [47]:
thisset = {"apple", "banana", "cherry", True, 1,0, 2}

print(thisset)

{'cherry', True, 2, 0, 'banana', 'apple'}

In [48]:
#length
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [49]:
#datatype
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'cherry', 'banana', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [50]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

In [51]:
#type
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [52]:
#set() contructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [53]:
#access
thisset={"apple","banana","cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

In [54]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [55]:
#add
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

In [56]:
#add set
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'mango', 'pineapple', 'papaya', 'banana', 'apple'}

In [57]:
#add any iterable
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'kiwi', 'banana', 'apple', 'orange'}

In [58]:
#remove set
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [59]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [60]:
#pop()
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [61]:
#clear()
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [62]:
thisset = {"apple", "banana", "cherry"}

del thisset

In [63]:
#loop
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [64]:
#join set
#union()
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [65]:
#union() operator
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

In [66]:
#join multiple set
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'cherry', 1, 2, 3, 'Elena', 'c', 'apple', 'John', 'a', 'b', 'bananas'}

In [67]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'cherry', 1, 2, 3, 'Elena', 'c', 'apple', 'John', 'a', 'b', 'bananas'}

In [68]:
#join a set and a tuple 
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'c', 'a', 'b'}

In [69]:
#update()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

In [70]:
#intersection()
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [71]:
#intersection operator
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [73]:
#intersection_update()
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [3]:
#true false
set1={"apple",1,"banana",0,"cherry"}
set2={False,"google",1,0}
set3=set1.intersection(set2)
print(set3)

{False, 1}

In [5]:
#difference
set1={"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3=set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [7]:
#different operator
set1={"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3=set1-set2
print(set3)

{'cherry', 'banana'}

In [9]:
#difference_update
set1={"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [10]:
#symmetric_difference
set1={"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3=set1.symmetric_difference(set2)
print(set3)

{'cherry', 'microsoft', 'banana', 'google'}

In [11]:
#operator
set1={"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set3=set1 ^ set2
print(set3)

{'cherry', 'microsoft', 'banana', 'google'}

In [13]:
#symmetric_difference_update
set1={"apple","banana","cherry"}
set2={"google","microsoft","apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'microsoft', 'google', 'banana'}

In [18]:
#dictionaries
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1965}

In [19]:
#item
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
print(thisdict["brand"])

ford

In [20]:
#ordered
#changable
#don't allow duplicate value
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965,
    "year":1876
}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1876}

In [21]:
#length
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
print(len(thisdict))

3

In [22]:
#datatype
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
print(type(thisdict))

<class 'dict'>

In [24]:
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965,
    "color":["red","blue","green"]
}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1965, 'color': ['red', 'blue', 'green']}

In [25]:
#dict() contructor
thisdict=dict(name="john", age=36, country="india")
print(thisdict)

{'name': 'john', 'age': 36, 'country': 'india'}

In [27]:
#access
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
x=thisdict["model"]
print(x)

mustang

In [28]:
#get()
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
x=thisdict.get("year")
print(x)

1965

In [30]:
#key()
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
x=thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [31]:
car ={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
x=car.keys()
print(x)#before change
car["color"]="white"
print(x)#after change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [32]:
#get value
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
x=thisdict.values()
print(x)

dict_values(['ford', 'mustang', 1965])

In [34]:
#get item
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
x=thisdict.items()
print(x)

dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', 1965)])

In [39]:
#check if
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [40]:
#change item
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
thisdict["year"]=2018
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 2018}

In [42]:
#update()
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

In [43]:
#add
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
thisdict["color"]="red"
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1965, 'color': 'red'}

In [44]:
#remove
#pop()
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
thisdict.pop("model")
print(thisdict)

{'brand': 'ford', 'year': 1965}

In [46]:
#popitem()
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
thisdict.popitem()
print(thisdict)

{'brand': 'ford', 'model': 'mustang'}

In [47]:
#del
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
del thisdict["model"]
print(thisdict)

{'brand': 'ford', 'year': 1965}

In [48]:
#clear()
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
thisdict.clear()
print(thisdict)

{}

In [50]:
#loop
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
for x in thisdict:
 print(x)

brand
model
year

In [51]:
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
for x in thisdict:
 print(thisdict[x])

ford
mustang
1965

In [52]:
#values()
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
for x in thisdict.values():
 print(x)

ford
mustang
1965

In [53]:
#keys()
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
for x in thisdict.keys():
 print(x)

brand
model
year

In [55]:
#item()
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
for x, y in thisdict.items():
 print(x, y)

brand ford
model mustang
year 1965

In [56]:
#copy dictionary
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
mydict=thisdict.copy()
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1965}

In [58]:
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1965
}
mydict=dict(thisdict)
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1965}

In [3]:
#nested dictionay
myfamily={
    "child1": {
    "name":"email",
    "year":2004
    },
    "child2": {
    "name":"annois",
    "year":2003
    },
    "child3": {
    "name":"lunus",
    "year":2006
}
}
print(myfamily)

{'child1': {'name': 'email', 'year': 2004}, 'child2': {'name': 'annois', 'year': 2003}, 'child3': {'name': 'lunus', 'year': 2006}}

In [6]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [5]:
#access item in nested dict
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily["child2"]["name"])

Tobias

In [7]:
#loop through nested
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011