In [1]:
print("computer world")

computer world

In [2]:
x="cherry"
y="banana"
print(x,y)

cherry banana

In [1]:
print("Hello,World!")
#this is a comment

Hello,World!

In [2]:
import sys
print(sys.version)

3.13.1 (tags/v3.13.1:0671451, Dec  3 2024, 19:06:28) [MSC v.1942 64 bit (AMD64)]

In [3]:
#python indentation
if 5 > 2 :
  print("Five is greater than two!")

Five is greater than two!

In [4]:
if 5 > 2 :
    print("Five is greater than two")

Five is greater than two

In [5]:
if 5 > 2:
 print("Five is greater than two!")
 if 5 > 2:
       print("Five is greater than two")

Five is greater than two!
Five is greater than two

In [6]:
if 5 > 2:
 print("Five is greater than two!")
 if 5 > 2:
       print("Five is greater than two")

Five is greater than two!
Five is greater than two

In [7]:
#print("Hello,World!")
print("cheer,mate!")

cheer,mate!

In [8]:
"""
this is a comment
written in
just more than one line
"""
print("Hello,World!")

Hello,World!

In [9]:
x=23
x="zam"
print(x)

zam

In [10]:
x=22
y="muz"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [11]:
x="john"
print(x)
x='john'
print(x)

john
john

In [12]:
a=2
A="saf"
print(a)
print(A)

2
saf

In [13]:
myvar="John"
my_var="John"
_my_var="John"
myVar="John"
MYVAR="John"
myvar2="John"
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

In [14]:
x,y,z="apple","orange","pineapple"
print(x)
print(y)
print(z)

apple
orange
pineapple

In [15]:
x=y=z="apple"
print(x)
print(y)
print(z)

apple
apple
apple

In [16]:
fruites="banana","cherry","watermelon"
x,y,z=fruites
print(x,y,z)

banana cherry watermelon

In [17]:
a="shana"
print(a)

shana

In [18]:
a= """ I'm a very good
student ,I'm from
india"""
print(a)

 I'm a very good
student ,I'm from
india

In [19]:
a='''I'm a good student, I'm going to school'''
print(a)

I'm a good student, I'm going to school

In [20]:
#string are arrays
a="hello world"
print(a[1])

e

In [21]:
#looping through a string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [22]:
#string length
a = "Hello, World!"
print(len(a))

13

In [23]:
#checking string
txt = "The best things in life are free!"
print("free" in txt)

True

In [24]:
#if statement
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [25]:
#check if not
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [26]:
#if statement
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [27]:
#slicing
b = "Hello, World!"
print(b[2:5])

llo

In [28]:
#slice from the start
b = "Hello, World!"
print(b[:5])

Hello

In [29]:
#slice to the end
b = "Hello, World!"
print(b[2:])

llo, World!

In [30]:
#negative indexing
b = "Hello, World!"
print(b[-5:-2])

orl

In [31]:
#modify string
#upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [32]:
#lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [33]:
#remove whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [34]:
#replace string
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [35]:
#split string
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [36]:
#string cancatenation
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [37]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [38]:
#string format
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [39]:
#placeholder
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [40]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [41]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [43]:
#escape characters
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [44]:
#string methods
#capitalize()
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [45]:
txt = "python is FUN!"

x = txt.capitalize()

print (x)

Python is fun!

In [46]:
txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

In [47]:
#casefold()
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [48]:
#center()
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [49]:
txt = "banana"

x = txt.center(20, "O")

print(x)

OOOOOOObananaOOOOOOO

In [50]:
#count()
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [51]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [52]:
#encode
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [53]:
#endswith
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [54]:
#expandtabs
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [55]:
#find
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [56]:
#format
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [57]:
#index
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [58]:
#isalnum
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [59]:
#isalpha
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [60]:
#isascii
txt = "Company123"

x = txt.isascii()

print(x)

True

In [61]:
#isdecimal
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [62]:
#isdigit
txt = "50800"

x = txt.isdigit()

print(x)

True

In [63]:
#isidentifier
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [64]:
#islower
txt = "hello world!"

x = txt.islower()

print(x)

True

In [65]:
#isnumeric
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [66]:
#isprintable
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [67]:
#isspace
txt = "   "

x = txt.isspace()

print(x)

True

In [68]:
#istitle
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [69]:
#issupper
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [70]:
#join
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [71]:
#!just
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [72]:
#lower
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [73]:
#lstrip
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [74]:
#maketrans
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [75]:
#partition
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [76]:
#replace
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [77]:
#rfind
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [78]:
#rindex
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [79]:
#rjust
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [80]:
#rpartition
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [81]:
#rsplit
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [82]:
#rstrip
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [83]:
#split
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [84]:
#splitlines
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [85]:
#startswith
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [86]:
#strip
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [87]:
#swapcase
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [88]:
#title
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [89]:
#transulate
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [90]:
#upper
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [91]:
#zfill
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [1]:
#boolean
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [3]:
#bool()
print(bool("Hello"))
print(bool(15))

True
True

In [4]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [5]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [6]:
def myFunction() :
  return True

print(myFunction())

True

In [7]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [8]:
x = 200
print(isinstance(x, int))

True

In [10]:
#operators
print(10+6)

16

In [12]:
#arithmetic
x=20
y=12
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

32
8
240
1.6666666666666667
8
4096000000000000
1

In [19]:
#assignment operators
x=5
x+=3
print(x)

8

In [20]:
x=3
x-=5
print(x)

-2

In [22]:
x=9
x*=10
print(x)

90

In [23]:
x=5
x/=2
print(x)

2.5

In [24]:
x=20
x%=2
print(x)

0

In [25]:
x=2
x//=20
print(x)

0

In [26]:
x=4
x**=8
print(x)

65536

In [27]:
x=8
x&=2
print(x)

0

In [28]:
x=2
x|=4
print(x)

6

In [29]:
x=5
x^=2
print(x)

7

In [30]:
x=10
x>>=5
print(x)

0

In [31]:
x=25
x<<=10
print(x)

25600

In [36]:
print(x:=6)

6

In [37]:
#comparison
x=2
y=5
print(x<y)

True

x=5
y=5
print(x==y)

In [38]:
x=25
y=12
print(x>y)

True

In [39]:
x=40
y=25
print(x!=y)

True

In [41]:
x=23
y=26
print(x>=y)

False

In [42]:
x=33
y=44
print(x<=y)

True

In [45]:
#logical operators
#AND
x = 5

print(x > 3 and x < 10) #both the statement is true

True

In [44]:
#OR
x=10
print(x<9 or x>5) #if any one is true

True

In [48]:
#NOT
x=23
print(not(x>22 and x<25))

False

In [49]:
#identity
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [50]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [51]:
#membership operator
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [54]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "banana" is in the list

True

In [60]:
#bitwise
print(6 & 3)
#Sets each bit to 1 if both bits are 1



"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'\nThe & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [59]:
#or
print(5|3)#Sets each bit to 1 if one of two bits is 1

7

In [61]:
#xor
print(6^3)
#Sets each bit to 1 if only one of two bits is 1

5

In [62]:
#not
print(~3)
#	Inverts all the bits

-4

In [63]:
#left shift
print(6<<3)
#Shift left by pushing zeros in from the right and let the leftmost bits fall off

48

In [64]:
#right shift
print(6>>3)
#Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

0

In [65]:
#precedence
print(3+5-7+2)

3